<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="kafkaProducer" type="Kafka.Client.Cfg.ProducerConfigurationSection, Kafka.Client"/>
        <section name="kafkaProducer2" type="Kafka.Client.Cfg.ProducerConfigurationSection, Kafka.Client"/>
        <section name="kafkaProducer3" type="Kafka.Client.Cfg.ProducerConfigurationSection, Kafka.Client"/>
        <section name="kafkaConsumer1" type="Kafka.Client.Cfg.ConsumerConfigurationSection, Kafka.Client"/>
        <section name="kafkaConsumer2" type="Kafka.Client.Cfg.ConsumerConfigurationSection, Kafka.Client"/>
        <section name="kafkaConsumer3" type="Kafka.Client.Cfg.ConsumerConfigurationSection, Kafka.Client"/>
        <section name="kafkaConsumer4" type="Kafka.Client.Cfg.ConsumerConfigurationSection, Kafka.Client"/>
    
    </configSections>    
    <kafkaProducer type="Sync">
        <brokers>
            <add id="0" host="192.168.1.39" port="9092"/>
            <add id="1" host="192.168.1.39" port="9101"/>
            <add id="2" host="192.168.1.39" port="9102"/>
        </brokers> 
    </kafkaProducer>
    <kafkaProducer2 type="Sync">
        <zookeeper>
            <servers>
                <add host="192.168.1.39" port="2181"/>
            </servers>
        </zookeeper>
    </kafkaProducer2>
    <kafkaProducer3 type="Async">
        <brokers>
            <add id="0" host="192.168.1.39" port="9092"/>
            <add id="1" host="192.168.1.39" port="9101"/>
            <add id="2" host="192.168.1.39" port="9102"/>
        </brokers>
    </kafkaProducer3>
    
    <kafkaConsumer1 groupId="group1">
        <broker id="0" host="192.168.1.39" port="9092"/>
    </kafkaConsumer1>
    <kafkaConsumer2 groupId="group1">
        <broker id="0" host="192.168.1.39" port="9101"/>
    </kafkaConsumer2>
    <kafkaConsumer3 groupId="group1">
        <broker id="0" host="192.168.1.39" port="9102"/>
    </kafkaConsumer3>
    <kafkaConsumer4 groupId="group1">
        <zookeeper>
            <servers>
                <add host="192.168.1.39" port="2181"/>
            </servers>
        </zookeeper>
    </kafkaConsumer4>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
